<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" data-toggle="collapse" data-target=".navbar-collapse" href="#createbetslip">Create betslip</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a data-toggle="collapse" data-target=".navbar-collapse" href="#betslips">Betslips</a></li>
                <li><a data-toggle="collapse" data-target=".navbar-collapse" href="#tournaments">Tournaments</a></li>
                <li><a data-toggle="collapse" data-target=".navbar-collapse" href="#logfiles">logfiles</a></li>
                <li><a data-toggle="collapse" data-target=".navbar-collapse" href="#users">Users</a></li>
                <li><a data-toggle="collapse" data-target=".navbar-collapse" href="#addUser">Add user</a></li>
                <li><a data-toggle="collapse" data-target=".navbar-collapse" href="#authenticate">Login</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
